/* Coolors Exported Palette - coolors.co/8223b2-d90368-f1e9da-2e294e-ffe66b */

/* HSL */
$color1: hsla(280%, 67%, 42%, 1);
$color2: hsla(332%, 97%, 43%, 1);
$color3: hsla(39%, 45%, 90%, 1);
$color4: hsla(248%, 31%, 23%, 1);
$color5: hsla(50%, 100%, 71%, 1);

/* RGB */
$color1: rgba(130, 35, 178, 1);
$color2: rgba(217, 3, 104, 1);
$color3: rgba(241, 233, 218, 1);
$color4: rgba(46, 41, 78, 1);
$color5: rgba(255, 230, 107, 1);