//styles.css es el fichero de estilos principal de la aplicacion, importamos los otros scss

@import "paleta.scss";
@import "animaciones.scss";
@import "@fortawesome/fontawesome-free/css/all.css";

//Antes de importar bootstrap, redefinimos alguno
//de los colores que tiene por defecto
//https://stackoverflow.com/questions/38792005/how-to-change-the-bootstrap-primary-color
$theme-colors: (
  primary: $color2,
  dark : $color4
);

//importamos los scss de bootstrap
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.imagen_fondo {
  background-image: url("/img/front.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: alpha(opacity=50);
}
.contenedor_titulo_principal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px;
  background: #fffffa;
  border: 5px solid;
  border-image: linear-gradient(
      to right,
      $color1 20%,
      $color2 20%,
      $color2 40%,
      $color3 40%,
      $color3 60%,
      $color4 60%,
      $color4 80%,
      $color5 80%
    )
    5;
}

.span_titulo_1 {
  display: block;
  font-size: 2em;
}

.span_titulo_2 {
  display: block;
  font-size: 1.6em;
}

.rowIntro {
  margin-top: 20px;
}

#barra-multicolor {
  background: linear-gradient(
    to right,
    $color1 20%,
    $color2 20%,
    $color2 40%,
    $color3 40%,
    $color3 60%,
    $color4 60%,
    $color4 80%,
    $color5 80%
  );
  height: 6px;
}
