@import "paleta.scss";
@import "animaciones.scss";

* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.imagen_fondo {
  background-image: url("/img/front.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.contenedor_titulo_principal {
  /*margin-top: 150px;*/
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px;
  background: #fffffa;
  border: 5px solid;
  border-image: linear-gradient(
      to right,
      $color1 20%,
      $color2 20%,
      $color2 40%,
      $color3 40%,
      $color3 60%,
      $color4 60%,
      $color4 80%,
      $color5 80%
    )
    5;
}

.span_titulo_1 {
  display: block;
  font-size: 2em;
}

.span_titulo_2 {
  display: block;
  font-size: 1.6em;
}

#barra-multicolor {
  background: linear-gradient(
    to right,
    $color1 20%,
    $color2 20%,
    $color2 40%,
    $color3 40%,
    $color3 60%,
    $color4 60%,
    $color4 80%,
    $color5 80%
  );
  height: 6px;
}
