//styles.css es el fichero de estilos principal de la aplicacion, importamos los otros scss

@import "paleta.scss";
@import "animaciones.scss";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "prismjs/themes/prism-okaidia.css";

//Antes de importar bootstrap, redefinimos alguno
//de los colores que tiene por defecto
//https://stackoverflow.com/questions/38792005/how-to-change-the-bootstrap-primary-color
$theme-colors: (
  primary: $color2,
  dark: $color4
);

//importamos los scss de bootstrap
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.imagen_fondo {
  background-image: url("/img/front.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: alpha(opacity=50);
}
.contenedor_titulo_principal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px;
  background: #fffffa;
  border: 5px solid;
  border-image: linear-gradient(
      to right,
      $color1 20%,
      $color2 20%,
      $color2 40%,
      $color3 40%,
      $color3 60%,
      $color4 60%,
      $color4 80%,
      $color5 80%
    )
    5;
}

.span_titulo_1 {
  display: block;
  font-size: 2em;
}

.span_titulo_2 {
  display: block;
  font-size: 1.6em;
}

.rowIntro {
  margin-top: 20px;
}

#barra-multicolor {
  background: linear-gradient(
    to right,
    $color1 20%,
    $color2 20%,
    $color2 40%,
    $color3 40%,
    $color3 60%,
    $color4 60%,
    $color4 80%,
    $color5 80%
  );
  height: 6px;
}

footer {
  /* Añadimos un clip-path generado con la herramienta: https://bennettfeely.com/clippy/ */
  clip-path: polygon(0% 100%, 0% 1%, 6% 12%, 10% 6%, 14% 9%, 16% 13%, 19% 6%, 22% 1%, 25% 7%,
     27% 15%, 30% 19%, 31% 13%, 33% 6%, 36% 3%, 39% 9%, 43% 15%, 47% 19%, 52% 23%, 56% 21%, 
     60% 16%, 62% 8%, 65% 2%, 68% 2%, 69% 12%, 71% 19%, 74% 24%, 77% 27%, 80% 30%, 83% 30%, 85% 25%, 
     88% 19%, 91% 12%, 93% 18%, 95% 26%, 97% 22%, 98% 13%, 100% 1%, 100% 100%);
  margin-top: 20px;
  padding-top: 65px;
}

.info_footer {
  padding: 10px 0px;
}

.info_footer span {
  color: $color3;
}

.contenedor_rrss {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;

  i {
    color: $color2;
    padding: 0px 8px;
  }
}

.row_contenido {
  padding: 10px 30px;
  margin-top: 20px;

  h2 {
    display: block;
  }
}

.migas_pan,
.breadcrumb {
  background-color: $color3;
  margin: 0;
  padding: 10px 30px;
}

.parrafo_intro {
  line-height: 1.5rem;
  letter-spacing: 2px;
  text-align: justify;
}

p {
  text-align: justify;
}

p::first-letter {
  font-size: 250%;
  color: $color1;
  font-weight: bold;
}

.span_destacado {
  font-weight: bold;
  border-bottom: 3px solid $color5;
  display: inline-block;
  line-height: 0.85;
  text-shadow: 4px -4px 3px $color5;
}

ul.ul_categoria {
  list-style-type: none;

  li {
    margin: 1em 0;
  }
}

.span_li {
  font-size: 1.6em;
  color: $color1;
}

.span_li_descripcion {
  font-style: italic;
  font-size: 0.8em;
}

.card_pregunta {
  margin-bottom: 20px;
}

.respuesta {
  cursor: pointer;
}

.explicacion_codigo {
  font-style: italic;
  font-size: 70%;
}
